.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .actions-container {
    display: flex;
    align-items: center;
    gap: 20px;

    .filter-container {
      mat-button-toggle-group {
        border-radius: 4px;
      }
    }
  }

  h1 {
    font-size: 1.5rem;
    margin: 0;
  }
}

.list-dailys-container {
  margin-top: 20px;
}
