<section class="top-section">
  <button
    class="register-daily-button animate__animated animate__fadeIn"
    mat-flat-button
    (click)="openTaskFormModal()"
  >
    <mat-icon> add </mat-icon>
    Crear tarea
  </button>
  <h1 class="animate__animated animate__fadeIn">{{ date | date }}</h1>
</section>

<section>
  <p>prueba</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nihil
    placeat harum aut deserunt, similique porro, totam officiis nulla doloribus
    nemo laudantium numquam doloremque? Cumque totam dolores iure eaque animi?
  </p>
</section>
