:root,
:host {
  --sys-background: #0f1417;
  --sys-on-background: #dee3e6;
  --sys-surface: #0f1417;
  --sys-surface-dim: #0f1417;
  --sys-surface-bright: #353a3d;
  --sys-surface-container-lowest: #0a0f11;
  --sys-surface-container-low: #171c1f;
  --sys-surface-container: #1b2023;
  --sys-surface-container-high: #262b2d;
  --sys-surface-container-highest: #303638;
  --sys-on-surface: #dee3e6;
  --sys-surface-variant: #40484c;
  --sys-on-surface-variant: #bfc8cc;
  --sys-inverse-surface: #dee3e6;
  --sys-inverse-on-surface: #2c3134;
  --sys-outline: #8a9296;
  --sys-outline-variant: #40484c;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #8ad0ee;
  --sys-primary: #00ccff;
  --sys-on-primary: #003545;
  --sys-primary-container: #004d63;
  --sys-on-primary-container: #bbe9ff;
  --sys-inverse-primary: #0d6681;
  --sys-secondary: #8ad0ee;
  --sys-on-secondary: #003545;
  --sys-secondary-container: #004d63;
  --sys-on-secondary-container: #bbe9ff;
  --sys-tertiary: #c2c1ff;
  --sys-on-tertiary: #2a2a60;
  --sys-tertiary-container: #414178;
  --sys-on-tertiary-container: #e2dfff;
  --sys-error: #ffb4ab;
  --sys-on-error: #561e19;
  --sys-error-container: #73342d;
  --sys-on-error-container: #ffdad5;
  --sys-neutral: #73787b;
  --sys-neutral-variant: #70787c;
  --sys-primary-fixed: #bbe9ff;
  --sys-primary-fixed-dim: #8ad0ee;
  --sys-on-primary-fixed: #001f29;
  --sys-on-primary-fixed-variant: #004d63;
  --sys-secondary-fixed: #bbe9ff;
  --sys-secondary-fixed-dim: #8ad0ee;
  --sys-on-secondary-fixed: #001f29;
  --sys-on-secondary-fixed-variant: #004d63;
  --sys-tertiary-fixed: #e2dfff;
  --sys-tertiary-fixed-dim: #c2c1ff;
  --sys-on-tertiary-fixed: #15134a;
  --sys-on-tertiary-fixed-variant: #414178;
  --sys-inverse-secondary: #0d6681;
  --sys-inverse-tertiary: #595992;
  --sys-inverse-error: #904a43;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
}
